.container {
  min-height: 100vh;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 3px solid rgb(43, 41, 63);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.button {
  background-color: #4b4372;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--purple-color);
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background: var(--purple-color2);
}

.select {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  font-family: inherit;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  color: white;
}

.dropdown {
  position: relative;
  width: 250px;
}

.selected {
  padding: 8px 12px;
  border-radius: 6px;
  background: var(--secondary-color);
  color: #fff;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  border-radius: 6px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.option {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  gap: 8px;
  cursor: pointer;
}

.option:hover {
  background: var(--secondary-color2);
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.selectedGuild {
  display: flex;
  align-items: center;
  gap: 8px;
}

.guildIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
